* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #000000;
}

/*navbar*/

.navbar-nav {
  margin-left: auto;
  margin-right: 0;  
}

/*home section*/

.jumbotron {
  background-image: url('./images/cool-website-background-23-920x518.jpg');
  background-repeat: no-repeat;
  background-size: cover;
 
}

.home-text {
  padding-top: 150px;
 
}

.home-img {
  padding-top: 100px;
 
}

.home-text h1 {
  font-size: 60px;
  margin-left: 90px;
}

.home-text h2 {
  font-size: 40px;
  margin-left: 90px;

}

.home-text p {
  font-size: 35px;
  color: #ffd701;
  margin-left: 90px;


}

.home .btn {
  margin-left: 50px;
  margin-left: 90px;

}

/* About me section  */
.about-me {
  padding-right: 120px;

}

.btn {
  margin-left: 10px;
}

.about-me h1 {
  margin-left: 10px;
  font-size: 70px;
  color: #ffd701;

}

.about-me p {
  margin-left: 10px;
  font-size: 20px;
  color: white;

}
.about-me img {
  width: 505px;
  margin-top: 60px;
  }

/*skills container*/

.cardContainer { 
  margin-left: auto;
  margin-right: 0;
}

.skills_Icon img {
  width: 150px;
  margin: 60px;
}

.skills h1 {
  color: #ffd701;
  font-size: 70px;
  margin: 90px;
  }
  
  .skills h2 {
    color: white;
    font-size: 40px;
    margin-left: 90px;
    }

  .skills p {
    font-size: 20px;
    margin-left: 90px;

  }

.skills .btn {
  margin-left: 90px;
}

/* Portifolio container*/
.portfolio {
  margin-top: 100px;
  background-color: #ffd701;
  background-size: cover;
  margin: 20px;
  }


.card {
  margin: 0 auto;
  background-color: black;
  align-items: center;
  align-content: center;
  margin-bottom: 25px;
  width: 400px;
  height: 900px;
}

.card-body .btn {
  margin-bottom: 20px;
  margin-left: 20px;
}

.portfolio img {
  width: 350px;
  height: 450px;
  margin-top: 20px;
}

.portfolio h1 {
  color: white;
  
  padding: 20px;
}


/* Contact section  */



/* footer  */

.footer {
  margin: 0 auto;
  height: 80px;
  width: auto;
  background-color: #ffd701;
  margin-left:20px;
  margin-right: 20px;
  color: black;
  text-align: center;
  text-decoration: none;
  text-size-adjust: auto;
}

.footer p {
  color: black;
}

/* typo  */

h1, h2, h3, p {
 color: white;
 margin-left: 20px;
 
}

h2 {
  font-size: 40px;
}

p {
  font-size: 20px;
}

@media screen and (max-width: 768px) {
  #container {
    width: 90%;
  }

  h1 {
    font-size: 50%;
  }

  .skilss_Icon {
    width: 20px;
  }
}